@import '../../../../../styles/common.scss';

.c-form{
    &__inputs{
        display: grid;
        grid-template-columns: 5fr 3fr 3fr;
        grid-column-gap: 10px;
        margin-bottom: 20px;
        @media #{$mobile}{
            grid-template-columns: 1fr;
        }
    }
    &__button-container{
        display: flex;
        justify-content: center;
    }
}

::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-prefix,
    .mat-form-field-appearance-outline .mat-form-field-suffix {
        top: 0 !important;
    }
}