<section class="c-concluir">
    <div class="c-concluir__img-container">
        <img class="c-concluir__img" src="./assets/icons/check.png" alt="">
    </div>
    <h1 class="c-concluir__title">O empréstimo foi realizado com sucesso! Veja abaixo o que você contratou:</h1>

    <app-valor [data]="emprestimoResponse" [align]="true"></app-valor>
    
    <div class="c-concluir__button-container">
        <button (click)="onChangeRoute()" mat-stroked-button color="primary">Simular outro emprestimo</button>
    </div>
</section>